
// Home
.home-container{

    .home-banner{
        height: 35rem;
        // width: 100%;
        position: relative;
        overflow: hidden;
        background: black;

        img{
            opacity: 0.5;
        }
       
    }

    .section-one{

        .section-one-text{

        }

        .section-one-img{
            // margin: 10px;
            width: 20rem;
            height: 20rem;
            line-height: 115px;
            text-align: center;
            border: 1px solid red;
            img{
                max-width:100%;
                max-height:100%;
                vertical-align: middle;
            }
        }
    }


}




// NavBar
.nav-container{
    height: 2rem;
    display: flex;
    align-items: center;
    z-index: 500;
    justify-content: space-between;
    margin: 2rem;



    .nav-header{

        h1{
            font-size: 3rem;
            text-align: center;
            margin:auto;
        }
    }


    .nav-links{
    

        a{
            font-size: 2rem;
            text-decoration: none;
            color: black;
            margin: 1rem;
            &:hover{
                color: gray;
            }
        }
    }


}