
// ProductList / Product
.product-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-list{

        h1{
            font-size: 2.5rem;
            border-bottom: 3px solid black;
        }
      
        p{
            font-size: 1.8rem;
        }

        a{
            text-decoration: none;
            color: black;
        }

        .product{
            background: white;
            box-shadow: 10px 5px 5px #162540;
            border: 4px solid black;
            border-radius: 2rem;
            width: 25rem;
            height: 31rem;
            padding: 20px;
            text-align: center;
            margin: 2rem;
        }

    }

}

// ProductDetails
.product-details-container{
    display: flex;
    justify-content: center;
    text-align: center;

    .product-details{
        width: 50rem;

        h1{
            font-size: 3rem;
        }
        p{
            font-size: 2rem;
        }
        
        button{
            border-radius: 1rem;
            font-size: 1.5rem;
            height: 3rem;
            width: 13rem;
        }

    }


}
