
.sign-up-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: 2px solid black;

    .sign-up-header{
        display: flex;
        justify-content: center;

    }

    .sign-up-form{
        display: flex;
        justify-content: center;

    }

    // // Form
    // .sign-up-form-container{

  
    // }

}

